.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		set-type-size('xxxxx-large')
		font-weight 900
		font-family: $national

	&__dek
		max-width 30rem
		margin 0 auto
		margin-top 1rem
		text-align center
		font-family $national
		set-type-size('large')

	&__line
		display flex
		max-width 30rem
		margin 0 auto 3rem auto
		font-family $national
		align-items: baseline

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size('root')


	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size('root')
