.intro
	margin 0 auto
	padding 6rem 1rem 0rem 1rem
	position relative
	max-width 80rem

	&__hed
		max-width $column-width
		margin 0 auto
		// text-align center
		set-type-size('xxx-large')
		line-height 1.1
		font-weight 900
		font-family $national
		+mq('bp-4')
			set-type-size('xxxxx-large')

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		// text-align center
		set-type-size('large', true)

	&__line
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		margin-bottom 3rem
		font-family $national
		p, time
			display inline-block
			margin 0
			margin-right 0.5rem

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		// text-align center
		set-type-size('root')


	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size('root')

	&__media
		position absolute
		width 17rem
		display none
		opacity 0.25
		cursor pointer
		transition 100ms opacity ease-in-out
		&:hover,&.is-selected
			opacity 1
		+mq('bp-7')
			display block

		&--left
			left 1rem
			top 47rem
		
		&--right
			right 1rem
			top 61rem
	
	video
		display block
		box-shadow 0 0 3px $brown
		border-radius 6px

	.prose
		span
			+mq('bp-7')
				background-color lighten($orange, 30)
				padding 0 0.25em
				cursor pointer
				&:hover,&.is-selected
					background-color $orange
					color $bg