.intro
	margin 0 auto
	padding 6rem 1rem 0rem 1rem
	position relative
	max-width 80rem

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		set-type-size('xxxxx-large')
		font-weight 900
		font-family: $national

	&__dek
		max-width 30rem
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size('large', true)

	&__line
		display flex
		max-width 30rem
		margin 0 auto 3rem auto
		font-family $national
		align-items: baseline

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size('root')


	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size('root')

	&__media
		position absolute
		width 17rem
		display none
		opacity 0.25
		cursor pointer
		transition 100ms opacity ease-in-out
		&:hover,&.is-selected
			opacity 1
		+mq('bp-7')
			display block

		&--left
			left 1rem
			top 38rem
		
		&--right
			right 1rem
			top 51.5rem
	
	video
		display block
		box-shadow 0 0 3px $brown
		border-radius 6px

	.prose
		span
			background-color lighten($orange, 30)
			padding 0 0.25em
			cursor pointer
			&:hover,&.is-selected
				background-color $orange
				color $bg