.methods
  background-color: darken($bg, 4)
  margin 2rem 0 0 0
  padding 3rem 1rem
  font-family $national
  width 100vw
  position relative
  left 50%
  right 50%
  margin-left -50vw
  margin-right -50vw
  &__contents
    max-width $column-width
    margin 0 auto
  &__title
    font-weight bold
    text-transform: uppercase;
