.methods
	background-color darken($bg, 4)
	margin-top 2rem
	padding 3rem 1rem
	font-family $national
	&__contents
		max-width $column-width
		margin 0 auto
	&__title
		font-weight bold
		text-transform uppercase
