
.smallMultiples
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  margin 0 auto
  max-width $chart-width
.multiple
  width 12rem
  margin 1rem
  +mq('bp-4')
    margin 1rem 2rem
  .bar-label
    font-family $national
    set-type-size('small')
    margin-left 5px
    color lighten($brown, 20)
    width 34px
  .meta
    font-family $national
    margin-bottom 0.5rem
    .studentCount
      set-type-size('small')
      text-align center
      margin 0
      color $brown
      line-height 1
    .schoolName
      text-align center
      height 42px
      margin 0
      line-height 1.2
      color $brown
      font-size 15px
      font-weight 700
  .g-bar
    display flex
    flex-direction row
    align-items center
    height 16px
    padding 3px 0
    justify-content center
    &-bad, &-good, &-great, &-allstar
      background-color darken($bg, 4)
    &-bad
      //margin-top 5px
      // padding-top 6px
      border-top 1px dashed $brown
      // height 19px

    .bar
      background-color $orange
    // &-college, &-draft, &-rookie, &-highSchool
    //   .bar
    //     background-color $orange
    // &-bad, &-good, &-great, &-allstar
    //   .bar
    //     background-color $blue


.key-container
  max-width $column-width
  margin 0 auto
  .multKey
    width 300px
    margin 0 auto
    padding 0 1rem
    position relative
    .meta
      position absolute
      transform translate(-15px, 55px) rotate(-90deg)
      font-family $national
      set-type-size('small')
      color lighten($brown, 20)
    .barChart
      display flex
      flex-direction row

      .gbar
        display flex
        flex-direction row

      .label
        font-family $national
        set-type-size('small')
        color lighten($brown, 20)
        text-align right
        align-self flex-end
        padding 0 10px
        &-bad, &-good, &-great, &-allstar
          background-color darken($bg, 4)
        &-bad
          border-top 1px dashed $brown
      .barsOnly
        display flex
        flex-direction column
        align-items center
      .barContainer
        height 18px
        padding 4px
        width 150px
        display flex
        justify-content center
        &-bad, &-good, &-great, &-allstar
          background-color darken($bg, 4)
        &-bad
          border-top 1px dashed $brown
      .bar
        background-color $orange