/* CUSTOM STORY STYLE */
.chart__flow
  max-width $column-width
  margin 0 auto
  height 550px
  position relative
  canvas
    position absolute
    z-index 200
  svg
    background-color: #F5F2E7
    position absolute
    path
      stroke-width 1px
      fill none
    .g-labels
      .label
        font-family $national
        text-transform: uppercase;
        fill $brown
        font-weight bold
      .percentage
        font-family $national
        font-weight bold
        set-type-size('small')
        &__top
          fill $orange;
        &__underdog
          fill $blue

    .annotations__rank
      circle
        fill none
        stroke-width 1px
        stroke $brown
        z-index 200
      text
        font-family $national
        set-type-size('small')
        fill $brown
      line
        stroke-width 1px
        stroke $brown
    .annotations__underdog
      text
        font-family $national
        set-type-size('x-small')
        fill $blue
        text-transform uppercase;
      line
        stroke-width 1px
        stroke $blue
