/* CUSTOM STORY STYLE */

.chart
  max-width $column-width
  margin 0 auto
  &__meta
    padding 0 1rem
    font-family $national
    margin 1rem 0 2rem 0
    &-title
      font-weight bold
      set-type-size('x-large')
      margin 0
      .top
        color $orange
      .unranked
        color $blue
    &-sub
      set-type-size('small')
      text-transform uppercase
      margin 0

    &-replay
      font-family $national
      background-color: $bg
      padding 0.25rem 0.5rem
      border 1px solid $brown
      color $brown
      display flex
      justify-content: center;
      align-items: center
      set-type-size('small')
      text-transform uppercase
      font-weight bold
      margin-top 0.5rem
      transition background-color 200ms ease-in-out
      svg
        stroke $brown
        transform scale(0.8)
        margin 0 0 0 0.2rem
      &:hover
        background-color: lighten($orange, 35)
        transition 200ms ease-in-out

.chart__flow
  height 550px
  position relative
  canvas
    position absolute
    z-index 200
  svg
    position absolute
    border-bottom 2px solid $brown
    path
      stroke-width 1px
      fill none
    .g-labels
      .label
        font-family $national
        text-transform: uppercase;
        fill $brown
        font-weight bold
      .percentage
        font-family $national
        font-weight bold
        set-type-size('small')
        &__top
          fill $orange;
        &__underdog
          fill $blue

    .annotations__rank
      circle
        fill none
        stroke-width 1px
        stroke $brown
        z-index 200
      text
        font-family $national
        set-type-size('small')
        fill $brown
      line
        stroke-width 1px
        stroke $brown
    .annotations__underdog
      text
        font-family $national
        set-type-size('x-small')
        fill $blue
        text-transform uppercase;
      line
        stroke-width 1px
        stroke $blue
  .g-bg
    .bg-block
      fill darken($bg, 4)
    text
      font-family $national
      text-transform: uppercase;
      fill darken($bg, 50)
