<div class='college'>
	{{#each doc.intro}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<figure class='chart'>
		<div class='chart__flow' data-filter='unc'></div>
	</figure>

  <figure class='chart'>
    <div class='chart__flow' data-filter='uk'></div>
  </figure>

  <figure class='chart'>
    <div class='chart__flow' data-filter='duke'></div>
  </figure>

  <figure class='chart'>
    <div class='chart__flow' data-filter='kansas'></div>
  </figure>
</div>
