<div class='underdog'>
	{{#each doc.intro}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<figure class='chart'>
    <div class='chart__meta'>
      <h4 class='chart__meta-title'>{{{doc.allTitle}}}</h4>
      <p class='chart__meta-sub'>{{{doc.allSub}}}</p>
    </div>
		<div class='chart__flow' data-filter='none'></div>
	</figure>
</div>
